main {
    background-color: #666a70;
}

h1 {
    text-align: center;
    color: red;
    font-weight: normal !important;
}

.home:hover {
    cursor:pointer;
}

.buttons {
    align-items: center;
}

#progress {
    size: 300%;
}